<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FriendJournal{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>

    <header>
        <h1 class="text-2xl font-semibold">FriendJournal</h1>
    </header>
    
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- JavaScript files -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
